<section id="contact-section">
	<h2>Register for Early Access</h2>
	<hr>
	<p>Thanks for your interest in the Kurbi App. We are currently in a private beta, and we will let you know as 	
		soon as our app becomes available to the public.</p>

	<section>
		<%= render 'pages/form_register' %>
	</section>
</section><!--#contact-section-->


